dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
auto
haskelleene.fdb*
haskelleene.out
haskelleene.aux
haskelleene.bbl
haskelleene.blg
haskelleene.log
haskelleene.toc
.DS_Store
*.toc
*.log
beamer/*.log
beamer/*.fls
beamer/*.log
beamer/*.nav
beamer/*.fdb_latexmk
beamer/*.synctex.gz
beamer/*.toc
beamer/*.vrb
beamer/*.snm
